<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.QnAMapper">
	<insert id="insertBoard" parameterType="qna">
		insert into qna(qno,memberid,qnacontent,title)
		values(#{qno},#{memberid},#{qnacontent},#{title})
	</insert>
	<insert id="insertFileList" parameterType="img">
		insert into qnaimge(productphotono,qno,photopath)
		values(#{productphotono},#{qno},#{photopath})
	</insert>
	<select id="selectBoardNo" resultType="int">
		select qna_qno.nextval from dual
	</select>
	<select id="Allqnalist" resultType="qna">
		select * from qna
	</select>
	<select id="serqnaview" resultType="qna" parameterType="String">
		select * from qna where qno = #{qno}
	</select>
	<select id="selectqnaDTO" parameterType="int" resultType="qna">
		select
		* from qnareply where qno = #{qno}
	</select>
	<select id="selectqnarepiyDTO" parameterType="int"
		resultType="comment">
		select * from qnareply where qno = #{qno}
	</select>
	<insert id="insertqnaDTO" parameterType="comment">
		insert into qnareply
		values(#{qno},#{qnarecontent},#{writer})
	</insert>
	<select id="insertComment" parameterType="comment">
		select * from qnareply
	</select>
</mapper>











